.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container > * {
  padding: 20px;
}

.header{
  flex: 0 1 auto;
  background-color: red;
}

.main{
  flex-grow: 1;
  background-color: green;
}


.footer{
  flex: 0 1 auto;
  background-color: hotpink;
}